{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "react-hooks"
    ],
    "extends": [
        "airbnb-typescript",
        "react-app"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "no-multi-spaces": "error",
        "space-in-parens": "error",
        "no-multiple-empty-lines": "error",
        "@typescript-eslint/semi": [
            "off"
        ],
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreComments": true
            }
        ]
//        "@typescript-eslint/no-explicit-any": ["off"],
//        "@typescript-eslint/ban-types": [
//            "error",
//            {
//                "extendDefaults": true,
//                "types": {
//                    "{}": false,
//                    "object": false,
//                    "Object": false
//                }
//            }
//        ]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}