@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap');
@import './helpers';
@import '~normalize.css';
@import './bootstrap-grid.min.css';

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: $default-text;
}

html {
  height: 100%;
  body {
    background-color: $background;
    height: 100%;
    #root {
      display: flex;
      flex-direction: column;
      height: 100%;
      .header {
        flex: 0 0 auto;
      }
      .content {
        flex: 1 0 auto;
      }
      .footer {
        flex: 0 0 auto;
      }
    }
  }
}
