.l-page {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  h1 {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
  }
  .menu {
    display: flex;
    .l-content {
      margin-right: 25px;
      width: 82% !important;
      img {
        max-width: 100%;
      }
      a {
        color: deepskyblue;
        text-decoration: none;
      }
      span,
      div,
      p {
        color: #b7b7b7;
      }
    }
    .r-menu {
      width: 18%;
    }
  }

  .clubs-images {
    a {
      text-decoration: unset;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      img {
        max-width: 15%;
        max-height: 200px;
      }
    }
  }

  .clubs-comments {
    .comment__wrapper {
      margin-bottom: 12px;
    }
    .more-comments {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
    }
  }
}

[data-dynamic='cutted_covers'] {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  article {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image-decor {
        img {
          height: 220px;
        }
      }
      .title {
        span:last-child {
          display: none;
        }
      }
    }
  }
}
